<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TMTWV6YVHP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TMTWV6YVHP');
    </script>
    <title>Attendance Records</title>
</head>
<body>
    {% include 'includes/sidebar.html' %}
    
    <h1>Attendance Records</h1>
    
    <a href="{% url 'home' %}">Back</a>
</body>
</html>
